@import '../../assets/styles/vars';

.f13 {
  font-size: 13px;
}
.f15 {
  font-size: 15px;
}
.card {
  border: 1px solid $darkGray3;
  background: $whiteBg;
  border-radius: 5px;
  border-radius: 5px;
}
