.upperContainer {
  height: 464px;
}
.container {
  height: 100%;
}

.heading {
  font-size: 60px;
}
.imgContainer {
  border-radius: 20px;
  height: 90%;
  position: relative;
  top: 10%;
  background-image: url('/images/home_screen.jpg');
  background-size: cover;
}
//=------------------------------------
.lowerContainer {
  padding-top: 150px;
}
.logoImgDiv1 {
  flex: 0 0 17%;
  max-width: 17%;
  width: 17%;
  height: 80px;
  padding: 5px;
  img {
    padding: 10px;
    width: auto;
    height: 100%;
  }
}
